In [26]:
import datetime as dt
from decimal import Decimal
import pandas as pd
from app.tinkoff import client, Interval, Instrument, TinkoffClient
from app import config

import numpy as np

In [4]:
client_prod = TinkoffClient(config.TINKOFF_URL, config.TINKOFF_TRADING_TOKEN)
client_prod.get_portfolio()

[]

In [6]:
stocks = client.get_stocks()

df = pd.DataFrame.from_dict(stock.dict() for stock in stocks)

df[df.currency == 'USD'].sort_values('ticker')

                             name ticker          figi currency
727          Agilent Technologies      A  BBG000C2V3D6      USD
1119            Alcoa Corporation     AA  BBG00B3T3HD3      USD
1179      American Airlines Group    AAL  BBG005P7Q881      USD
535                   Aaron's Inc    AAN  BBG000D9V7T4      USD
476            Advance Auto Parts    AAP  BBG000F7RCJ1      USD
...                           ...    ...           ...      ...
1007                       Zoetis    ZTS  BBG0039320N9      USD
1180                   Zumiez Inc   ZUMZ  BBG000PYX812      USD
272                     Zuora Inc    ZUO  BBG000BT3HG5      USD
821   Zynerba Pharmaceuticals Inc   ZYNE  BBG007BBS8B7      USD
648                     Zynex Inc   ZYXI  BBG000BJBXZ2      USD

[1283 rows x 4 columns]

In [7]:
df[df.ticker == 'TSLA']

             name ticker          figi currency
183  Tesla Motors   TSLA  BBG000N9MNX3      USD

In [67]:
start_dt = dt.datetime(2020, 9, 1, 12, 0)
end_dt = dt.datetime(2020, 9, 5, 12, 0)

candles = list(client.get_candles('BBG000N9MNX3', interval=Interval.H1, start_dt=start_dt, end_dt=end_dt))

tsla_history = pd.DataFrame.from_dict([candle.dict() for candle in candles])
tsla_history

      open    high     low   close   volume                      time
0      517   550.0     514  538.64    99660 2020-09-01 12:00:00+05:00
1    538.2   540.0  525.01  535.99    42797 2020-09-01 13:00:00+05:00
2    535.3  535.98  531.04  532.07     9663 2020-09-01 14:00:00+05:00
3   532.07  535.07  528.12  534.99    12920 2020-09-01 15:00:00+05:00
4      535     539     505   510.2   276031 2020-09-01 16:00:00+05:00
..     ...     ...     ...     ...      ...                       ...
59  404.88     419  404.18  418.28  2141107 2020-09-04 23:00:00+05:00
60  418.54  426.78  414.12     418  4655155 2020-09-05 00:00:00+05:00
61   417.8  419.44  410.57  417.35   670090 2020-09-05 01:00:00+05:00
62   417.5  422.75   386.7  391.36   899440 2020-09-05 02:00:00+05:00
63  391.12   392.5  386.28  387.53   211369 2020-09-05 03:00:00+05:00

[64 rows x 6 columns]